<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <!-- Links for the left nav -->

    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item href="/shipping">Shipping</a>
      <a mat-list-item href="/about">About</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Navigation when it is on phone mode (vertical window) -->
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="application">Application</span>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
